        
body {
        background-color:rgba(245, 233, 250, 0.507);
        font-size: 20px;
        text-indent: 30px;
        color: #10002B;
        font-family: fantasy;
     }

      h1 {
        color:purple;
        font-size: 45px;
        text-decoration: underline;
        text-decoration-color: black;
        text-align: center;
      }

      #shortcutsTitle {
        position: absolute;
        top: 75px;
        left: 420px;
      }

      #shortcuts {
        position: absolute;
        top: 150px;
        left: 420px;
        text-indent: 0px;
        font-size: 25px;
        line-height: 50px;

      }

      #photo {
       border-radius: 10%;
       outline-style: auto;
       outline-color: purple;
       width: 20%;
      }

      #Sobre-mim {
        text-indent: 0;
        font-size: larger;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        text-align: center;
      }

      #MiniBioText {
       text-align: center;
      }
      
      #abilities {
        font-weight: bold;
        line-height: 50px;
        text-decoration: underline;
        text-decoration-color: purple;
        text-align:center;
        margin-right: 58px;
        list-style-position: inside;
      }

      #DescHab {
        text-align: center;
      }

      .contact {
        text-decoration: none;
        color: #ffffff;
        background-image: url(Imagens/Fundo-dos-botões.jpg);
        background-size:cover;
        background-position: 50% 50%;
        padding: 15px 15px;
        border-radius: 10%;
        line-height: 50px;
        outline-style: auto;
        outline-color: black;
        text-align: center;
      }

      #linkedin {
        position: absolute;
        left: 1015px;
        margin-top: -10px;
        padding-bottom: 50px;
      }

      #github {
        position: absolute;
        left: 740px;
        margin-top: -10px;
        padding-bottom: 50px;
      }
