        
* {
  margin-top: 2%;
  font-size: 110%;
}

body {
        background-color:rgba(245, 233, 250, 0.507);
        font-size: 20px;
        text-indent: 30px;
        color: #10002B;
        font-family: fantasy;
     }

     h1 {
      color:purple;
      font-size: 45px;
      text-decoration: underline;
      text-decoration-color: black;
      text-align: center;
    }
    
     #cabeçalho {
      margin-top: 0%;
        position: fixed;
        width: 50%;
        top: 0%;
        background-color: #04052e;
        display: block;
        align-content: right;
     }

     #cabeçalho2 {
      margin-top: 0%;
      position: fixed;
      width: 50%;
      top: 0%;
      left: 50%;
      background-color: #04052e;
     }
     

     Header {
      margin-bottom: 12%;
     }

      #shortcutsTitle {
        margin-top: 3%;
        margin-bottom: 0%;
        float: left;      
      }

      #shortcutsList {
        list-style: inside;
        margin-bottom: 4%;
        margin-top: 7%;
        font-size: 25px;
        line-height: 50px;
      }

      #photo {
       border-radius: 10%;
       outline-style: auto;
       outline-color: purple;
       width: 20%;
       float: left;

      }

      #Sobre-mim {
        text-indent: 0;
        font-size: larger;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        text-align: center;
      }

      #MiniBioText {
       text-align: center;
      }
      
      #abilities {
        font-weight: bold;
        line-height: 50px;
        text-decoration: underline;
        text-decoration-color: purple;
        text-align:center;
        margin-right: 75px;
        list-style-position: inside;
      }

      #DescHab {
        text-align: center;
      }

      .contact {
        text-decoration: none;
        color: #ffffff;
        background-image: url(Imagens/Fundo-dos-botões.jpg);
        background-size:cover;
        background-position: 50% 50%;
        padding: 15px 15px;
        border-radius: 10%;
        line-height: 50px;
        outline-style: auto;
        outline-color: black;
        text-align: center;
      }

      #linkedin {
        position: absolute;
        left: 1015px;
        margin-top: -10px;
        padding-bottom: 50px;
      }

      #github {
        position: absolute;
        left: 740px;
        margin-top: -10px;
        padding-bottom: 50px;
      }
      
